<body>
  <%- include('./partials/header') %> <!-- Inclui o cabeçalho -->
  <h1>FIGURINOS</h1>

  <div class="container-centralizado">
    <div class="image-container" id="left-image">
      <h2 style="color: white;">Coco Cearense</h2>
      <img src="/images/imgCoco.webp" alt="Coco Cearense">
      <div class="image-description">Imagem registrada durante o espetáculo Felicidade Interna Bruta (FIB - 2023)</div>
      <ul>
        <li>12 - Blusas Femininas</li>
        <li>12 - Saias Femininas</li>
        <li>15 - Anáguas Pequenas</li>
        <li>13 - Anáguas</li>
        <li>12 - Blusas Vermelhas Masculinas</li>
        <li>16 - Calças Pretas Masculinas</li>
        <li>25 - Sandálias de Couro</li>
      </ul>
      <p>A Dança do Coco Cearense surgiu nas comunidades rurais e afrodescendentes. Caracteriza-se por movimentos vigorosos dos pés ao som rítmico de cocos secos percutidos no chão. É uma manifestação artística e social que espelha a identidade e tradições do povo local, frequentemente presente em festas, celebrações religiosas e eventos culturais, onde os dançarinos demonstram alegria, energia e conexão com suas raízes culturais.</p>
    </div>


    <div class="image-container" id="center-image">
      <h2 style="color: white;">Dança Gaúcha</h2>
      <img src="/images/imgGaucha.webp" alt="Descrição da Imagem 2">
      <div class="image-description">Foto retirada durante o espetáculo Guerreiros santa Folia Festeira no Teatro José de Alencar</div>
      <ul>
        <li>8 - Vestidos Gaúcha</li>
        <li>10 - Anáguas Grandes</li>
        <li>16 - Meias Brancas</li>
        <li>8 - Adornos de Cabeça Femininos</li>
        <li>10 - Pares de Salto Alto Preto</li>
        <li>15 - Anáguas Pequenas</li>
        <li>16 - Meias Brancas</li>
        <li>15 - Pares de Botas Pretas</li>
        <li>12 - Chiripás/Bombaixas</li>
        <li>7 - Ciroulas de Franja</li>
        <li>6 - Faixas de Cinto</li>
        <li>12 - Guaiacas</li>
        <li>15 - Blusas Brancas Masculinas</li>
        <li>10 - Coletes de Veludo Preto</li>
        <li>15 - Blusas Brancas Masculinas</li>
        <li>10 - Lenços Brancos</li>
      </ul>
      <p>A dança gaúcha, representativa do Rio Grande do Sul, inclui o animado Bailaio. Essa dança é marcada por movimentos vigorosos em pares, acompanhados por música tradicional gaúcha. Os dançarinos realizam sapateados, giros e coreografias sincronizadas, combinando influências europeias e ritmos locais. </p>
    </div>

    <div class="image-container" id="right-image">
      <h2 style="color: white;">Cacetete de Jucá</h2>
      <img src="/images/imgXaxado.webp" alt="Descrição da Imagem 3">
      <div class="image-description">Foto retirada durante o espetáculo Felicidade Interna Bruta (FIB)</div>
      <ul>
        <li>10 - Vestidos Xaxado Femininos</li>
        <li>22 - Lenços Vermelhos</li>
        <li>22 - Lenços Estampados</li>
        <li>18 - Pares de Meias Vermelhas </li>
        <li>25 - Sandálias de Couro</li>
        <li>8 - Calças Marrons</li>
        <li>8 - Blusas Xadrez</li>
        <li>8 - Jaquetas Marrons</li>
        <li>46 - Cartucheiras</li>
        <li>40 - Bornás</li>
        <li>18 - Chapéus de Couro Masculinos</li>
        <li>12 - Chapéus Xaxado Femininos</li>
        <li>1 - Calça Azul Lampião</li>
        <li>1 - Blusa Azul Lampião</li>
        <li>1 - Vestido Azul Maria Bonita</li>
        <li>25 - Espingardas</li> 
      </ul>
      <p>
      O xaxado é uma dança folclórica nordestina que se destaca por seus movimentos enérgicos e marcantes, frequentemente simulando uma batalha entre cangaceiros e soldados. Acompanhada por música de ritmo acelerado, típica da região, essa dança é executada com passos que imitam o andar característico dos cangaceiros. É uma expressão cultural importante que reflete a história e o folclore do nordeste brasileiro.</p>
    </div>

  </div>
    <div class="container-centralizado">
      <div class="image-container" id="left-image">
        <h2 style="color: white;">Catira</h2>
        <img src="/images/imgCatira.webp" alt="Descrição da Imagem 4">
        <div class="image-description">Foto retirada durante o espetáculo Guerreiros santa Folia Festeira</div>
        <ul>
          <li>8 - Blusas Femininas de Xadrez</li>
          <li>8 - Blusas Masculinas de Xadrez</li>
          <li>17 - Calças jeans</li>
          <li>20 - Chapéus Pretos</li>
          <li>15 - Pares de Botas Pretas</li>
          <li>10 - Cintos Pretos</li>
        </ul>
        <p>A catira é popular nas regiões rurais do interior, como o estado de Minas Gerais. Caracteriza-se pelo ritmo animado e pelos passos marcados ao som da música típica, geralmente acompanhada por instrumentos como a viola caipira e o pandeiro. Na catira, os dançarinos formam pares e realizam uma série de movimentos sincronizados, que incluem sapateados, rodopios e batidas de palmas, criando uma atmosfera festiva e contagiante.</p>
      </div>

      <div class="image-container" id="center-image">
        <h2 style="color: white;">Suíte Cearense</h2>
        <img src="/images/imgSuiteCearense.webp" alt="Descrição da Imagem 2">
        <div class="image-description">Imagem registrada durante o espetáculo Felicidade Interna Bruta (FIB - 2023)</div>
        <ul>
          <li>12 - Vestidos das Rendeiras</li>
          <li>15 - Lenços das Rendeiras</li>
          <li>15 - Anáguas Pequenas</li>
          <li>13 - Anáguas</li>
          <li>10 - Almofadas das Rendeiras</li>
          <li>15 - Blusas Brancas Masculinas</li>
          <li>13 - Calças Marrons</li>
          <li>13 - Jaquetas Marrons</li>
          <li>15 - Chapéus Brancos dos Pescadores</li>
          <li>25 - Pares de Sandálias de Couro</li>
          <li>8 - Samburás</li>
          <li>10 - Lenços Brancos</li>
        </ul>
        <p>Os pescadores do Ceará trabalham na pesca artesanal, enfrentando desafios diários no mar para sustentar suas famílias e abastecer os mercados locais. Enquanto isso, as rendeiras, dominam a arte do bordado e da confecção de renda, transmitindo essas habilidades de geração em geração.</p>
      </div>

      <div class="image-container" id="center-image">
        <h2 style="color: white;">Marinera</h2>
        <img src="/images/imgMarinera.webp" alt="Descrição da Imagem 2">
        <div class="image-description">Foto retirada durante o espetáculo Guerreiros santa Folia Festeira</div>
        <ul>
          <li>10 - Blusas Femininas Brancas</li>
          <li>16 - Saias do Cacuriá</li>
          <li>15 - Anáguas Pequenas</li>
          <li>8 - Adornos de Cabeça Femininos</li>
          <li>15 - Blusas Brancas Masculinas</li>
          <li>13 - Calças Marrons</li>
          <li>13 - Jaquetas Marrons</li>
          <li>6 - Faixas de Cinto</li>
          <li>16 - Pares de Sapatos Sociais Pretos</li>
          <li>12 - Chapéus Marrons</li>
          <li>10 - Lenços Brancos</li>
        </ul>
        <p>A marinera é uma dança tradicional peruana, conhecida por sua elegância e movimentos graciosos, influenciada pela cultura espanhola e indígena. Dançarinos em trajes típicos executam passos elaborados, incluindo rodopios, movimentos de lenços e sapateados, ao som de música tocada com instrumentos como guitarra e cajón.</p>
      </div>
    </div>
<%- include('./partials/footer') %>


