<%- include('./partials/header') %> <!-- Inclui o cabeçalho -->

    <img src="/images/imageHomePage.webp" alt="Imagem de Fundo" class="background-img">
    <div class="content">
      <h4>Seja bem-vindo(a)!!!</h4>
      <h1>Materiais e Figurinos do Grupo MiraIra</h1>
      <h3>Aqui você vai encontrar todos os materiais e figurinos com suas respectivas coreografias.</h3>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <a href="/material" class="btn btn-secondary btn-custom" role="button">Materiais</a>
      <a href="/figurino" class="btn btn-secondary btn-custom" role="button">Figurinos</a>
    </div>
     

<%- include('./partials/footer') %>

