<footer class="text-center footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-info">
                    <h4>Contato</h4>
                    <p class="bi bi-envelope"> mirairaproducao@gmail.com</p>
                    <p class="bi bi-geo-alt"> MiraIra/LPCT - IFCE Campus Fortaleza - Av. 13 de Maio, 2081 - Benfica</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="site-description">
                    <h4>Breve Descrição</h4>
                    <p>O MiraIraMaterial foi criado com a finalidade de catalogar e organizar o material e figurino do grupo. Além disso, ele também permite a gestão e visualização dos itens presentes no acervo do MiraIra.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="navigation">
                    <h4>Navegação</h4>
                    <a href="/" class="footer-link">Início</a>
                    <a href="http://www.digitalmundomiraira.com.br/" class="footer-link">Site Digital Mundo MiraIra</a>
                    <a href="https://www.youtube.com/@GrupoMiraIra" class="footer-link">Youtube Grupo MiraIra</a>
                    <a href="https://www.instagram.com/grupomiraira/" class="footer-link">Instagram Grupo MiraIra</a>
                    <a href="/sobre" class="footer-link">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
    <p class="footer-text">Topcoder 2024. All Rights Reserved. By Sure Rocha Bezerra.</p>
</footer>
