<header class="header">
    <div class="header-logo">
      <img src="/images/logoMiraIra.webp" alt="Logo" class="logo">
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/materiais">Materiais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/figurinos">Figurinos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sobre">Sobre Nós</a>
      </li>
    </ul>
    <form action="/search" method="GET" class="search-form bi bi-search">
      <input type="text" name="q" placeholder="Pesquisar...">
      <button type="submit">Buscar</button>
    </form>
  </header>
  