<header class="bg-dark text-white p-3">
    <div class="container">
        <h1><%= title %></h1>
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/figurinos">Figurinos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/materiais">Materiais</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
