<body>
  <%- include('./partials/header') %> <!-- Inclui o cabeçalho -->
    <h1>MATERIAIS</h1>

    <div class="container-centralizado">
      <div class="image-container" id="center-image">
        <h2 style="color: white;">Cacetete de Jucá</h2>
        <img src="/images/imgCaceteteDeJuca.jpeg" alt="Descrição da Imagem 2">
        <div class="image-description">Foto retirada durante o espetáculo Flor do Deserto no Teatro José de Alencar</div>
        <ul>
          <li>18 - Cacetete de Jucá</li>
        </ul>
        <p>A imagem mostra o cacetete de jucá sendo utilizado na dança tradicional Maneiro Pau.</p>
      </div>


      <div class="image-container" id="center-image">
        <h2 style="color: white;">Véus, Velas e Terços</h2>
        <img src="/images/imgVeuVelaTerco.webp" alt="Descrição da Imagem 2">
        <div class="image-description">Foto retirada durante o espetáculo Guerreiros santa Folia Festeira no Teatro José de Alencar</div>
        <ul>
          <li>15 - Véus</li>
          <li>9 - Velas</li>
          <li>18 - Terços</li>
        </ul>
        <p>Os véus, velas e terços são usados em diversas coreografias que remetem a reliogiosidade.</p>
      </div>

      <div class="image-container" id="right-image">
        <h2 style="color: white;">Chapéus de Palha</h2>
        <img src="/images/imgChapeuPalha.webp" alt="Descrição da Imagem 3">
        <div class="image-description">Foto retirada durante o espetáculo Brincadeiras em Noite de Luar</div>
        <ul>
          <li>24 - Chapéus de palha</li>
        </ul>
        <p>Os famosos chapéus de palha estão presentes em diversas coreografias, muitas vezes retratando a vida do trabalhador que trabalha debaixo do sol diariamente. </p>
      </div>
    </div>
 <%- include('./partials/footer') %>


