<%- include('./partials/header') %>
<body>
    <div class="banner">
        <div class="content">
            <h1 style="margin-top: -43%; font-size:620%; color:#EE9E07 !important;">Quem é o Grupo MiraIra?</h1>
            <h3 style="margin-top: 0%; font-size:150%; color:#EE9E07 !important;"> É toda essa diversidade de cultura, tradições, viveres, patrimônios, alegria, festança e tudo mais!!</h3>
        </div>
    </div>
    <div class="container-sobre1">
        <div class="sobre-container1">
            <h2>O que é o Grupo MiraIra?</h2>
            <p>Somos o grupo artístico de cultura popular do Instituto Federal de Educação, Ciência e Tecnologia do Ceará - Campus Fortaleza. Também somos extremamente apaixonados por preservar e celebrar as tradições culturais brasileiras. Nossas apresentações incluem danças folclóricas e músicas que refletem a riqueza do nosso patrimônio.</p>
            <p>Participamos de eventos em escolas, centros culturais e festivais, promovendo a valorização da cultura popular e incentivando a pesquisa e a educação nessa área.</p>
            <p>Para saber mais visite o site oficial do grupo <a href="http://www.digitalmundomiraira.com.br/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover bi bi-globe"> Digital Mundo MiraIra</a></p>
        </div>
    </div>
    <div class="container-sobre2">
        <div class="sobre-container2">
            <h2>Autoria do Site por Sure Rocha Bezerra</h2>
            <p>Estudante do Curso Técnico Integrado em Informática (IFCE) e Inglês Britânico na Casa de Cultura (UFC). Ademais, atua como pesquisadora PIBIC JR no LPCT/Miraira e é bolsista no Projeto de Extensão do IFCE desenvolvendo um sistema no Laboratório Novos Negócios em TIC (NNT). Além disso, compôs o elenco teatral do grupo por mais de 2 anos.</p>
            <p>Ama aprender diversos assuntos, é apaixonada por TI e a dança sempre fez parte da sua vida.</p>
            <p>Para saber mais visite o GitHub <a href="https://github.com/surerocha" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover bi bi-github"> @surerocha</a></p>
            <img src="/images/imgSuite.jpg" alt="Foto de Integrantes do grupo com o figurino da Suíte Cearense" id="imgSuite">
            <div class="image-description">Foto retirada antes da apresentação no CFO no Encontro de Professores de Educação Física dos Institutos Federais (2023)</div>
        </div>
    </div>
<%- include('./partials/footer') %>
