
    <footer class="text-center footer" style="background-color: #990000; color: white; margin-top: 22px; position: relative;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-info">
                        <h4>Contato</h4>
                        <p class="bi bi-envelope"> mirairaproducao@gmail.com</p>
                        <p class="bi bi-geo-alt"> MiraIra/LPCT - IFCE Campus Fortaleza - Av. 13 de Maio, 2081 - Benfica</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="site-description">
                        <h4>Breve Descrição</h4>
                        <p>O MiraIraMaterial foi criado com a finalidade de contalibizar e organizar o material e figurino do grupo. Além disso, ele também separa cada material por coreografia, sendo assim exibe a quantidade presente no acervo do MiraIra. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="navigation">
                        <h4>Navegação</h4>
                        <a href="/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover bi bi-house"> Início</a><br>
                        <a href="http://www.digitalmundomiraira.com.br/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover bi bi-globe"> Digital Mundo MiraIra</a><br>
                        <a href="https://www.youtube.com/@GrupoMiraIra" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover bi bi-youtube"> Grupo MiraIra</a><br>
                        <a href="https://www.instagram.com/grupomiraira/" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover bi bi-instagram"> @grupomiraira</a><br>
                       <a href="/about" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover bi bi-info-circle icon"> Saiba Mais</a><br>
                    </div>
                </div>
            </div>
        </div>
        <p class="footer-text"> Topcoder 2024. All Rights Reserved. By Sure Rocha Bezerra.</p>
    </footer>
</body>
</html>
